html {
box-sizing: border-box;
height: 100%;
}

*,
*::before,
*::after {
box-sizing: inherit;
}

body {
display: flex;
margin: 0;
height: 100%;
}

.container {
margin: auto;
padding: 1em;
width: 80%;
}

.destination-container {
display: flex;
flex-flow: wrap;
justify-content: center;
}

.destination {
background: #03a9f4;
box-shadow: 0 1px 9px 0 rgba(0, 0, 0, 0.4);
color: #fff;
margin: 0.5em;
min-height: 200px;
flex: 0 1 200px;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
padding: 10px auto;
background-image: linear-gradient(rgba(0,0,0,0.5) , rgba(0,0,0,0.5)) , url("https://www.google.com/search?q=computer+image&tbm=isch&source=iu&ictx=1&fir=qB4oA84Z24qUjM%253A%252C0QH-3BwYYg9QyM%252C_&vet=1&usg=AI4_-kRl2OqtafBUt6CGLPdHmfRZJ2wdGg&sa=X&ved=2ahUKEwiPubX3hYTjAhXBJ1AKHQu8APoQ9QEwA3oECAUQCg#imgrc=qB4oA84Z24qUjM:");  
background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.destination:hover h2 {
transform: rotate(0deg);
}

h2 {
margin: 0;
transform: rotate(-45deg);
transition:transform 0.5s;
text-shadow: 0 0 5px #01579b;
}

#florida {
background-color: #03a9f4;
}

#paris {
background-color: #d32f2f;
}
